body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 62px;
    margin: 0;
}

.game-div {
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}

.start-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.start-screen:hover {
    cursor: pointer;
    color: #FFE81F;
}

.hidden {
    display: none;
}

.millenium-falcon {
    background-image: url("../img/falconW.png");
    background-size: cover;
    position: absolute;
}

.tie-fighter {
    background-image: url("../img/tie-fighterW.png");
    background-size: cover;
    position: absolute;
}

.falcon-laser {
    background-image: url("../img/green\ laser.png");
    background-size: cover;
    position: absolute;
}