body {
    background-color: #000000;
    font-family: 'Courier New', Courier, monospace;
    font-size: 48px;
}

.startScreen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:white
}

.startScreen:hover {
    cursor: pointer;
    color: #FFE81F;
}

.hidden {
    display:none;
};