body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 62px;
    margin: 0;
}

.game-div {
    height: 100vh;
    width: 100vw;
    background-color: #000000;
}

.start-screen {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white
}

.end-text {
    color: #FFE81F;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.start-screen:hover {
    cursor: pointer;
    color: #FFE81F;
}

.hidden {
    display: none;
}

.millenium-falcon {
    background-image: url("../img/falconW.png");
    background-size: cover;
    position: absolute;
}

.tie-fighter {
    background-image: url("../img/tie-fighterW.png");
    background-size: cover;
    position: absolute;
}

.falcon-laser {
    background-image: url("../img/green\ laser.png");
    background-size: cover;
    position: absolute;
}

.score {
    position: absolute;
    top: 10px;
    left: 220px;
    font-size: 20px;
    z-index: 100;
    border-radius: 5px;
    background-color: #FFE81F;
}

.lives {
    position: absolute;
    top: 10px;
    left: 40px;
    font-size: 20px;
    z-index: 100;
    border-radius: 5px;
    background-color: #FFE81F;
}